{% extends 'base.html.twig' %}
{% block body %}
	{% include 'admin/header.html.twig' %}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success" role="alert">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-circle me-1" viewBox="0 0 16 16">
			<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
			<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
		</svg>
		<span style="font-size: 1rem">{{ message }}</span>
		</div>
	{% endfor %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Titre</th>
				<th scope="col">Lien</th>
				<th scope="col">Contenu</th>
				<th scope="col">Illustration</th>
				<th scope="col" style="width: 200px">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<th scope="row">{{ article.id }}</th>
					<td>{{ article.title }}</td>
					<td>{{ article.slug }}</td>
					<td>{{ article.getTruncatedContent() }}</td>
					{% if (article.cover != null) %}
						<td><img style="height: 60px; width: auto" src="/assets/upload/{{ article.cover }}"></td>
					{% else %}
						<td>
							<small>Non défini</small>
						</td>
					{% endif %}
					<td>
						<div class="d-flex">
							<a class="btn btn-outline-primary me-3" href="{{ path('update', {id:article.id}) }}">Modifier</a>
							<a class="btn btn-outline-danger" href="{{ path('delete', {id:article.id}) }}">Supprimer</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% include 'footer.html.twig' %}
{% endblock %}
