{% extends 'base.html.twig' %}
{% block body %}
	{% include 'admin/header.html.twig' %}
	<h2 class="fontColor-orange mb-5">Rédiger votre article</h2>
	{{ form_start(form)}}
	{{ form_row(form.title, {'attr': {'maxlength': 60}}) }}
	{{ form_row(form.slug, {'attr': {'maxlength': 60}}) }}
	{{ form_row(form.content) }}
	{{ form_row(form.cover) }}
	{{ form_end(form) }}
	{% include 'footer.html.twig' %}
{% endblock %}
