{% extends 'base.html.twig' %}
{% block body %}
	{% include 'admin/header.html.twig' %}
	{% for message in app.flashes('noticeException') %}
		<div class="alert alert-danger" role="alert">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-circle me-1" viewbox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
			</svg>
			<span style="font-size: 1rem">{{ message }}</span>
		</div>
	{% endfor %}
	<h2 class="fontColor-orange mb-5">Modifier votre article</h2>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8">
			{{ form_start(form)}}
			{{ form_row(form.title, {'attr': {'maxlength': 60}}) }}
			{{ form_row(form.slug, {'attr': {'maxlength': 60}}) }}
			<p>Voir l'article: 
				<a target="_blank" href="/article/{{ article.slug }}">
					{{ app.request.host }}/article/{{article.slug}}
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right ms-1" style="position: relative; bottom: 2px" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
						<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
					</svg>
				</a>
			</p>
			{{ form_row(form.content) }}
			{{ form_row(form.cover) }}
			{{ form_end(form) }}
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<p>Illustration de couverture</p>
			{% if (article.cover != null) %}
				<img class="d-block" style="max-width: 350px; height: auto" src="/assets/upload/{{ article.cover }}">
				<small>{{ article.cover }}</small>
			{% else %}
				<small>Aucune illustration de couverture n'a été trouvée.</small>
			{% endif %}
		</div>
	</div>
	{% include 'footer.html.twig' %}
{% endblock %}
