{% extends 'base.html.twig' %}
{% block body %}
	{# Open layout tag #}
	<div class="container">
		<div class="menu">
			<a href="/">
				<img src="/assets/images/logo-original.svg">
				<span style="font-size: 1.75rem;" class="d-inline-block ms-2 fontColor-orange">SpaceBlog</span>
			</a>
			{% if app.request.pathInfo == '/admin' %}
				<a style="font-size: 1rem;" href="{{ path('create') }}" class="btn btn-primary">Rédiger un article</a>
			{% endif %}
			{% if app.request.pathInfo != '/admin' %}
				<a style="font-size: 1rem;" href="{{ path('admin') }}" class="btn btn-primary">Retour sur le dashboard</a>
			{% endif %}
		</div>
	{% endblock %}
