body {
    /* background-color: #E4E6EC; */
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.fontColor-orange,
.fontColor-orange:hover {
    color: #DC5E44;
}

.fontWeight-900 {
    font-weight: 900;
}

.backgroundColor-orange {
    background-color: #DC5E44;
}

/* Custom classes */

.menu {
    display: flex;
    align-items: center;
    height: 105px;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.menu > a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero p {
    position: absolute;
    font-size: 3rem;
    left: 0;
    text-align: right;
    width: 540px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
}

.card {
    border-radius: 40px 40px 20px 20px;
}

.alert.alert-success {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #E0F7FA;
    display: flex;
    padding: 10px 16px;
    color: #00838F;
    border: unset;
}

.alert.alert-danger {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #FCE4EC;
    display: flex;
    padding: 10px 16px;
    color: #AD1457;
    border: unset;
}