{% extends 'base.html.twig' %}
{% block body %}
</div>
<footer class="container-fluid backgroundColor-orange mt-5" style="height: 300px">
	<a href="/" class="d-flex justify-content-center" style="text-decoration: none; height: 100%">
		<div class="d-flex justify-content-center align-items-center" style="flex-direction: column; opacity: .5;">
			<img style="height: 170px; width: auto" src="/assets/images/logo-white.svg">
			<span style="font-size: 1.75rem;color: #fff;" class="d-inline-block ms-2">SpaceBlog</span>
		</div>
	</a>
</footer>{% endblock %}
