{% extends 'base.html.twig' %}
{% block body %}
	{# Open layout tag #}
	<div class="container">
		<div class="menu">
			<a href="/">
				<img src="/assets/images/logo-original.svg">
				<span style="font-size: 1.75rem;" class="d-inline-block ms-2 fontColor-orange">SpaceBlog</span>
			</a>
			<a style="font-size: 1.75rem;" href="/admin" class="fontColor-orange">Dashboard</a>
		</div>
	{% endblock %}
