{% extends 'base.html.twig' %}
{% block body %}
	{% include 'header.html.twig' %}
	<div class="hero mb-5" style="position: relative">
		<p>Découvrez <span class="fontColor-orange">l'espace</span> comme jamais auparavant</p>
		<img src="/assets/images/ivan-diaz-dmhv60RLmlw-unsplash.png">
	</div>
	<section class="post">
		<h2 style="font-size: 2.75rem" class="fontColor-orange fontWeight-900 mb-5">Nos articles</h2>
		<div class="post-container container">
			<div class="row">
				{% for article in articles %}
					<div class="col-12 col-md-6 col-lg-4">
						<div class="card mb-4">
							{% if (article.cover != null) %}
								<img src="/assets/upload/{{ article.cover }}" class="card-img-top" style="border-radius: 40px 40px 0 0" alt="...">
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">{{ article.title }}</h5>
								<p class="card-text">{{ article.getTruncatedContent()}}.</p>
								<small>{{ article.getDateCreated()|date("d-m-Y H:i:s") }}</small>
								<div class="d-flex">
									<a href="{{ path('show', {slug:article.slug}) }}" class="btn btn-primary mt-4">Lire la suite</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{# Closing layout tag #}
</div>
{% include 'footer.html.twig' %}
{% endblock %}
