{% extends 'base.html.twig' %}
{% block body %}
	{% include 'header.html.twig' %}
	<div class="mt-5">
		<div class="row">
			<div class="col-8">
				<h1 style="font-size: 3rem; margin-bottom: 2rem">{{ article.title }}</h1>
				<p style="text-align: justify">{{ article.content }}</p>
			</div>
			<div class="col-4">
				{% if (article.cover != null) %}
					<img class="d-block" style="max-width: 350px; height: auto" src="/assets/upload/{{ article.cover }}">
				{% endif %}
			</div>
		</div>
		<div class="row">
			<a href="/" class="btn btn-primary mt-5" style="width: 400px">Retour</a>
		</div>
	</div>
	{# Closing layout tag #}
	{% include 'footer.html.twig' %}
</div>{% endblock %}
